In [1]:
import numpy as np
import pandas as pd

Prepare the Disease entities for insertion into Neo4j

In [3]:
data = pd. read_csv("C:/Users/Iro Sfoungari/Desktop/THESIS DATA/FINAL_DATABASE/Entities/bc5cdr.csv")

In [7]:
data.head(20)

    cord_uid                              Entity     Class
0   ug7v899j    Mycoplasma pneumoniae infections   DISEASE
1   ug7v899j                          pneumoniae   DISEASE
2   ug7v899j                          infections   DISEASE
3   ug7v899j                  community-acquired   DISEASE
4   ug7v899j                           infection   DISEASE
5   ug7v899j                           pneumonia   DISEASE
6   ug7v899j  upper respiratory tract infections   DISEASE
7   ug7v899j                       bronchiolitis   DISEASE
8   ug7v899j                               Cough   DISEASE
9   ug7v899j                               fever   DISEASE
10  ug7v899j                             wheezes   DISEASE
11  ug7v899j                           pneumonia   DISEASE
12  ug7v899j                   Immunocompromised   DISEASE
13  ug7v899j                           pneumonia   DISEASE
14  ug7v899j                           pneumonia   DISEASE
15  ug7v899j                pneumoniae infection   DISEASE
16  ug7v899j                pneumoniae pneumonia   DISEASE
17  ug7v899j                          infections   DISEASE
18  ug7v899j                           pneumonia   DISEASE
19  02tnwd4m                        nitric oxide  CHEMICAL

I want to keep only disease entitites, no chemical

In [8]:
df=data[data['Class'].str.contains("DISEASE")]

group entities by cord_uid

In [10]:
data2=df.groupby('cord_uid', sort=False).Entity.unique().agg(', '.join).reset_index()

In [13]:
data2.head(5)

   cord_uid                                             Entity
0  ug7v899j  Mycoplasma pneumoniae infections, pneumoniae, ...
1  02tnwd4m                          lung injury, inflammation
2  ejv2xln0  gastrointestinal and genitourinary tracts, emp...
3  2b73a28n           inflammatory lung diseases, lung disease
4  9785vg6d  Respiratory syncytial virus, pneumonia, respir...

In [14]:
data2['Class'] = "Disease"

In [15]:
data2.head(5)

   cord_uid                                             Entity    Class
0  ug7v899j  Mycoplasma pneumoniae infections, pneumoniae, ...  Disease
1  02tnwd4m                          lung injury, inflammation  Disease
2  ejv2xln0  gastrointestinal and genitourinary tracts, emp...  Disease
3  2b73a28n           inflammatory lung diseases, lung disease  Disease
4  9785vg6d  Respiratory syncytial virus, pneumonia, respir...  Disease

In [9]:
data21 = data2.to_csv(r'C:/Users/Iro Sfoungari/Desktop/THESIS DATA/FINAL_DATABASE/Entities/Disease_Entities.csv', index = False)

Prepare the Protein entities for insertion into Ne4j

In [16]:
data2= pd. read_csv("C:/Users/Iro Sfoungari/Desktop/THESIS DATA/FINAL_DATABASE/Entities/craft_md.csv")#Sort out blank abstracts

In [18]:
data2.head(5)

   cord_uid        Entity  Class
0  02tnwd4m  nitric oxide  CHEBI
1  02tnwd4m           NO•    GGP
2  02tnwd4m           NO•    GGP
3  02tnwd4m           NO•    GGP
4  02tnwd4m           NO•    GGP

In [19]:
len(data2)

1781909

In [20]:
#data22=data2[data2['Class'].str.contains("TISSUE")]

In [21]:
data22=data2[data2['Class'] == "TAXON"]

In [22]:
data22.head(3)

    cord_uid          Entity  Class
11  ejv2xln0  microorganisms  TAXON
18  ejv2xln0  microorganisms  TAXON
31  ejv2xln0         viruses  TAXON

In [24]:
#data22['Entity'] = data22['Entity'].astype(str)

In [25]:
len(data22)

572533

In [26]:
data22=data22.groupby('cord_uid', sort=False).Entity.unique().agg(', '.join).reset_index()

In [27]:
data22.head(3)

   cord_uid                                             Entity
0  ejv2xln0  microorganisms, viruses, bacterial lipopolysac...
1  9785vg6d  virus, mice, viruses, pneumovirus, humans, rod...
2  zjufx4fo                                 equine, virus TRSs

In [28]:
data22['Class'] = "Taxon"

In [29]:
data22.head(2)

   cord_uid                                             Entity  Class
0  ejv2xln0  microorganisms, viruses, bacterial lipopolysac...  Taxon
1  9785vg6d  virus, mice, viruses, pneumovirus, humans, rod...  Taxon

In [30]:
data22.to_csv(r'C:/Users/Iro Sfoungari/Desktop/THESIS DATA/FINAL_DATABASE/Entities/Taxon_Entities.csv', index = False)

I worked like this for all the other entities